{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mcd Offer</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>
<style>
</style>
<body>
<!------------------------------------------navbar------------------------------------------------------------------------>
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/shop">My Awesome Cart</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
		  <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/shop/about">About Us</a>
		</li>
  
		<li class="nav-item">
		  <a class="nav-link" href="/shop/offer">Tracker</a>
		</li>
  
		<li class="nav-item">
		  <a class="nav-link" href="/shop/contact">Contact Us</a>
		</li>
  
  
	  </ul>
	  <form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form>
	  <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
  sagittis lacus vel augue laoreet rutrum faucibus.">
  
  
	Cart(<span id="cart">0</span>)
  </button>
	</div>
  </nav>
  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav ml-auto">
        <a class="navbar-brand" href="#">
            <img src="https://images.mcdelivery.co.in/hardcastle-restaurants-pvt-ltd/image/upload/NewWebsiteResource/assets/img/Mcd_logo_web.png" width="90" height="50"/> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/shop">ORDER <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop/about"> | ABOUT US </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/shop/offer"> | OFFERS </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop/helpcenter"> | HELP CENTER </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/shop/contact"> | CONTACT </a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button type="button" class="btn btn-secondary mx-2" id="popcart" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">


            Cart(<span id="cart">0</span>)
        </button>
    </div>
</nav>
<br>
<!------------------------------------------------------------------------------------------------------------------>
<div class="container">
    <div class="row no-gutters">
        <div class="col-3">
            <div class="alert alert-danger" style="background-color:#ffbf00" role="alert">
                <h6>GENERAL QUERIES</h6>
                <hr>
                <ul class="list-unstyled" style="height: 200px;">
                    <li>FEEDBACK</li>
                    <hr>
                    <li>FAQ</li>
                    <hr>
                    <li>LEGAL</li>
                    <hr>
                </ul>
            </div>
        </div>
        <span style="width:600px">
        <div class="col-9">
            <div class="card" role="alert" style="background-color: white;"><br>
                <h2><center>Help Centre</center></h2>
              <div class="dropdown-divider"></div>
              <li class="nav-item dropdown list-unstyled">
		        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>I have a query related to placing an order</strong>
		        </a>
		        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
		         <a class="dropdown-item" href="#">For help, please call on 022-6600 0666</a>
		        </div>
		      </li>
              <div class="dropdown-divider"></div>
              <h6 class="py-3 ml-3">I have a payment or refund related query</h6>
              <div class="dropdown-divider"></div>
              <h6 class="py-3  ml-3">I have a coupon related query</h6>
              <div class="dropdown-divider"></div>
              <h6 class="py-3  ml-3">I want to know store contact no and address</h6>
              <div class="dropdown-divider"></div>
              <h6 class="py-3  ml-3">I want to know store nearby my Home</h6>
              <div class="dropdown-divider"></div>
              <h6 class="py-3 ml-3">I want to give Feedback or complaint</h6>
            </div>
        </div>
        </span>
    </div>
</div>
</div>
<br><br>
<!------------------------------------------------------------------------------------------------------------------>
<footer>
    <div class="container-fluid bg-dark py-5">
        <div class="container">
            <div class="row text-white">
                <div class="col-3 ">
                    <ul class="list-unstyled">
                        <li>PRIVACY POLICY</li>
                        <li>FEEDBACK</li>
                        <li>TERM AND CONDITIONS</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="list-unstyled">
                        <li>CORPORATE WEBSITE</li>
                        <li>FAQ</li>
                        <li>BUG BOUNTY</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h4 class="text-white"> Are you lovin'it?</h4>
                    <div class="row">
                        <div class="col-3">
                            <p class="text-white">FOLLOW US</p>
                            <a><i class="fab fa-facebook-f "></i></a>&nbsp;&nbsp;
                            <a><i class="fab fa-twitter "></i></a>&nbsp;&nbsp;
                            <a><i class="fab fa-instagram "></i></a>&nbsp;&nbsp;
                        </div>
                        <div class="col-4">
                            <p class="text-white">DOWNLOAD APP</p>
                            <i class="fab fa-apple "></i>&nbsp;&nbsp;
                            <i class="fab fa-android "></i>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="page-footer bg-dark">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <h6 class="text-white">Copyright 2017 H.R.P.L</h6>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>